<%= form_for(product) do |f| %>
    <% if product.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(product.errors.count, "error") %> prohibited this product from being saved:</h2>

          <ul>
            <% product.errors.full_messages.each do |message| %>
                <li><%= message %></li>
            <% end %>
          </ul>
        </div>
    <% end %>

    <div class="field">
      <%= f.label 'Наименование' %>
      <%= f.text_field :name %>
    </div>

    <div class="field">
      <%= f.label 'Еденица измерения' %>
      <%= f.number_field :unit_q %>
    </div>

    <div class="field">
      <%= f.label 'Вид упаковки' %>
      <%= f.select :kind_of_packing_id, KindOfPacking.all.collect { |x| [x.name, x.id] } %>
    </div>

    <div class="field">
      <%= f.label 'Склад' %>
      <%= f.select :store_id, Store.all.collect { |x| [x.name, x.id] }%>
    </div>

    <div class="actions">
      <%= f.submit %>
    </div>
<% end %>
